$btn-red: #db124e;
$body-red: #ff6437;
$cursor-red: #ffd761;
$before-cursor-red: #ffd761;
$after-cursor-red: #ffd761;
$pressing-red: #ffe028;

$btn-blue: #202bd9;
$body-blue: #54b9ff;
$cursor-blue: #ff9932;
$before-cursor-blue: #ff9932;
$after-cursor-blue: #ff9932;
$pressing-blue: #ff670a;

$btn-green: #12f084;
$body-green: #00b280;
$cursor-green: #b73de0;
$before-cursor-green: #c055ff;
$after-cursor-green: #c055ff;
$pressing-green: #7b33a6;
