#btn {
    position: relative;
    left: 300px;
    top: 300px;
    width: 300px;
    height: 300px;
}

#btn:focus {
    background: green;
}
#btn[press="true"] {
    background: blue;
}

.cursor {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    background: blue;
    &[active-cursor="false"] {
        display: none;
    }
}
#hand1 {
    background: red;
}
